.register-box {
  width: 420px;
  height: 500px;
  margin-top: 60px;
  background-color: rgb(146, 209, 219);
  box-shadow: 4px 6px 8px #5a5454;
  padding: 20px 20px;
  margin-left: 34%;
  border-radius: 18px;
  text-align: center;
  .login-logo {
    font-size: 60px;
    color: #333333;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 auto;
    i {
      font-size: larger;
    }
  }
  .register-title {
    font-size: 32px;
    margin-top: 15px;
    color: #535766;
  }
  fieldset {
    display: block;
    -webkit-margin-start: 2px;
    -webkit-margin-end: 2px;
    -webkit-padding-before: 0.35em;
    -webkit-padding-start: 0.75em;
    -webkit-padding-end: 0.75em;
    -webkit-padding-after: 0.625em;
    min-width: -webkit-min-content;
    .register-input-item {
      position: relative;
      .register-user-input {
        display: block;
        color: #282c3f;
        font-size: 15px;
        padding-right: 40px;
        width: 100%;
        border: 0;
        padding: 15px;
      }
      .register-user-input-username {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
      .register-user-input-password {
        border-top: 1px solid #d5d6d9;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
  }
  fieldset.register-input-container {
    margin: 20px;
    margin-bottom: 0px;
    border: 1px solid #bfc0c6;
    border-radius: 5px;
    padding: 0;
  }
  .icon-username {
    float: left;
    margin-top: 10px;
    margin-right: 10px;
    font-size: 20px;
  }

  .icon-password {
    float: left;
    margin-top: 30px;
    margin-right: 10px;
    font-size: 20px;
  }
  .register-register-button-container {
    padding: 10px 20px;
    margin: 0;
    border: 0;
    margin-bottom: 12px;
    .register-register-button {
      background-color: #816a6e;
      color: #fff;
      font-size: 14px;
      letter-spacing: 2px;
      padding: 12px;
      border: 0;
      margin-left: 7px;
      margin-right: 7px;
      text-transform: uppercase;
      border-radius: 4px;
      font-family: Whitney;
      cursor: pointer;
      box-shadow: 2px 3px 4px #494747;
    }
  }
}
