.card {
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 100px;
  box-shadow: 2px 4px 8px darkolivegreen;
  display: flex;
  flex-direction: row;
  vertical-align: middle;
  width: 40rem;
  .card-body {
    .card-title {
      text-shadow: 1px 1px yellow;
    }
    .brand {
      text-transform: uppercase;
      font-weight: 500;
    }
  }
}
